
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Oswald:wght@700&family=Yeseva+One&display=swap');
.aD{
    background-image: url('../../../images/img6.jpg');
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    position: fixed;
    margin-left:-8.09%;
    color: chocolate;
    font-family: 'Mulish', sans-serif;
}
.row{
    margin-left: 8.09%;
}

.container{
    color: beige;
    font-family: 'Mulish', sans-serif;
}

  
  td{
    vertical-align: middle;
  }

  button{
    width: 180px;
    height: 40px;
    text-align: center;
  }