@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,800&family=Bungee+Spice&family=Dancing+Script:wght@600&family=Mulish&family=Oswald:wght@700&family=Yeseva+One&display=swap');
.tab{
    font-family: 'Bungee Spice', cursive;
}

.fl{
    margin-left: -85%;
    font-family: 'Bungee Spice', cursive;
}

