@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,800&family=Mulish&family=Oswald:wght@700&family=Yeseva+One&display=swap');

.mS{
    
    background-image: url("../../../images/img13.jpg");
    margin-left: -10%;
   height: 100vh;
   width: 100vmin;
     background-size: cover;
     min-width: 100%;
     min-height: 100%;
     background-position: 100%;
     position:fixed;
     display: inline-flexbox;
   margin-left: -8.09%;
   padding: 15px;
   background-repeat: no-repeat;
   flex-direction: column;
   color:brown;
   font-family: 'Yeseva One', cursive;
   font-size: larger;
  }